[scheduler]
# container_backend=slurm_singularity
container_backend=singularity
task_concurrency=4
fail_fast=false

[task_runtime]
defaults = {
        "maxRetries": 0,
        "threads": 2,
        "docker": "ubuntu:20.04"
    }

[singularity]
# exe = ["/share/software/apptainer/1.2.5/bin/apptainer"]
image_cache = "$PWD/.miniwdl/apptainer_cache"
run_options = [
        "--containall"
    ]

[file_io]
allow_any_input=true
use_relative_output_paths=true

[call_cache]
put = true 
get = true 
dir = "$PWD/.miniwdl/call_cache"
